/* src/components/Description/Description.css */
.description {
  padding: 110px;
  background-color: #FFFFFF; /* White background */
  text-align: justify-all;
  color: #333333;
}

.description h2 {
  font-size: 2rem;
  margin-bottom: 0;
  color: #333333; /* Dark gray for headings */
}

.description p {
  font-size: 1rem;
  line-height: 1.5;
  max-width: 800px;
  margin-bottom: 0;
}